<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
	xmlns="http://www.springframework.org/schema/security" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    
    <!-- Configuration for the environment can be overriden by system properties -->
	<context:property-placeholder
		system-properties-mode="OVERRIDE" properties-ref="environment" />
	<util:properties id="environment">
		<b:prop key="cas.server.endpoint">https://dev.smartcommunitylab.it/aac/cas
		</b:prop>
	</util:properties>
    
    
	<http entry-point-ref="casEntryPoint" use-expressions="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/index.jsp" access="permitAll" />

		<intercept-url pattern="/secret.jsp" access="isAuthenticated()" />
		<custom-filter ref="casFilter" position="CAS_FILTER" />
	</http>

	<authentication-manager alias="authManager">
		<authentication-provider ref="casAuthProvider" />
	</authentication-manager>


	<b:bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties"
		p:service="http://localhost:8080/webtemplate.cas/j_spring_cas_security_check" />

	<b:bean id="casEntryPoint"
		class="org.springframework.security.cas.web.CasAuthenticationEntryPoint"
		p:serviceProperties-ref="serviceProperties" p:loginUrl="${cas.server.endpoint}/login" />

	<b:bean id="casFilter"
		class="org.springframework.security.cas.web.CasAuthenticationFilter">
		<b:property name="authenticationManager" ref="authManager" />
	</b:bean>


	<b:bean id="casAuthProvider"
		class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
		<b:property name="authenticationUserDetailsService">
			<b:bean
				class="it.smartcommunitylab.webtemplate.CasUserDetailWrapper">
			</b:bean>
		</b:property>
		<b:property name="serviceProperties" ref="serviceProperties" />
		<b:property name="ticketValidator">
			<b:bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
				<b:constructor-arg index="0" value="${cas.server.endpoint}" />
			</b:bean>
		</b:property>
		<b:property name="key" value="demo-provider-id" />
	</b:bean>
</b:beans>